// .car{
//     background-color: pink;
//     font-size: 1.4rem;
//     padding:0 .5rem;
// }
.mycars{
    position: relative;
    &-image{
        position: absolute;
        top: -5%;
        left: 0rem;
        animation: image 8s linear 1s infinite none;
            @keyframes image {
                0%{left: 0}
                50%{left: 2rem}
                100%{left: 4rem}
            }
        img{
            width: 70px;
            
        }
    }
}

